footer{
    margin-top: 10rem;
    div{
        display: flex;
        justify-content: center;
        a{
            padding: 5px;
        }
    }
    .comunicate {
        font-size: 1rem;
        text-align: center;
        color: gray;
    }
    .ig-icon {
        width: 30px;
    }
    
    .wa-icon {
        width: 30px;
    }
    
    .logo-fo {
        width: 6rem;
    }
    .by p {
        justify-content: center;
        margin-top: 1rem;
    }
}