@import 'MediaQ';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans:wght@400;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//main {
.container-section1 {
    position: relative;
    z-index: -1;


    .img-index {
        width: 100%;
        height: 36rem;
        margin-top: 5rem;
        opacity: 70%;
    }    

    h1 {
        font-size: 3.5rem;
        font-family: principal-font;
        font-weight: 800;
        text-align: center;
        color: white;
        -webkit-text-stroke: 0.5px black;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 8px 8px 8px black;

        @include mobile {
            font-size: 2.5rem;
        }

        @include tablet {
            font-size: 3rem;
            top: 70%;
        }
    }

    h2 {
        font-size: 4rem;
        font-family: 'Dancing Script', cursiva;
        font-weight: 800;
        color: yellow;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-text-stroke: 0.1px black;
        text-shadow: 0px 5px 0px black;

        @include mobile {
            font-size: 3rem;
            text-align: center;
        }

        @include tablet {
            font-size: 3.5rem;
            text-align: center;
        }
    }
}
// seccion de servicios
.container-servicios-index {
    display: grid;
    margin: 100px;
    margin-bottom: -60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;

    @include mobile {
        display: block;
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.container-servicios-index div {
    text-align: center;
    border-left: 1px solid gray;
    padding-left: 10px;

    @include mobile {
        margin-bottom: 50px;
    }

    h3 {
        font-family: principal-font;
        font-weight: bold;
    }

    p {
        font-family: principal-font;
        font-size: 1.2rem;
    }
}

.container-boton {
    display: flex;
    text-align: center;

    a {
        font-family: principal-font;
        font-weight: bold;
        text-align: center;
        background-color: rgb(236, 240, 36);
        border-radius: 55px;
        padding: 5px 20px;
        border: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        text-align: center;

        &:hover {
            background-color: black;
            color: rgb(236, 240, 36);
        }

    }
}
