.container-trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    .trabajos-uno {
        align-items: center;
        justify-content: space-between;
        margin-top: 7rem;

        img {
            width: 32%;
            margin: 5px;
        }
    }
}